
.home-body {
    background-color: #EEEEEE;
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}

@media screen and (max-width: 900px) {
    h4.tagline {
        font-size: 1.8vw;
    }
    .logo-image {
        height: 20%;
        width: 20%;
    }
}

 @media screen and (max-width: 500px) {
    h4.tagline {
        display: none;
    }
 }

 @media screen and (max-width: 600px) {
    .logo-image {
        height: 50%;
        width: 50%;
    }
 }



.tagline {
    text-align: center;
    font-family: 'Gotu', sans-serif !important;
    display: block;
    padding-bottom: 1.6vw;
    font-size: 1.5vw;
}

.logo-section {
    background-color: #fff;
}

.socials-header {
    text-align: center;
    padding-bottom: 1.6vw;
}

.fa-x-twitter, .fa-instagram, .fa-envelope {
    color: black;
}

.fa-x-twitter:hover, .fa-instagram:hover, .fa-envelope:hover {
    color: #6A7EFC;
}

.social-icon {
    margin: 2% 1%;
  }

  @media screen and (max-width: 500px) {
    .fa-lg {
    font-size: 1.8vw;
    }
    
  }

.navbar {
    font-family:'IM Fell English SC', serif;
    font-size: 1.4rem;
}

.nav-item {
    padding: 5px 6px;
}

.navWord {
    color: #03001C;
}

.navWord:hover {
    color: #6A7EFC;
}

h2 {
    font-family: 'Alice', serif;
}

.cover-image{
    max-width: 80%;
    height: auto;
    padding: 8% 5% 5% 5%;
}

.feature-header {
    font-family: 'IM Fell English SC', serif;
    font-size: 3rem;
    margin: 7% 0;
}

.feature-text {
    font-family: 'Gotu', sans-serif;
    margin: 5% 0 8% 0;
}

.authors-container {
    margin: 10% 1% 5% 1%;
    /* font-family: 'La Belle Aurore', cursive; */
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
}


.btn-design {
    background-color: #03001C;
    border: none;
    padding: 2% 7%;
    text-align: center;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Gotu', sans-serif;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2), 0 4px 16px 0 rgba(0,0,0,0.19);
    width: fit-content;
}

.btn-text {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.btn-design:hover {
    background-color: #6A7EFC;
}

@media screen and (max-width: 1050px) {
    .btn-text {
       font-size: 1rem;
       padding: 3% 6% 2% 6%;
   }

   }

@media screen and (max-width: 500px) {
     .btn-text {
        font-size: 1rem;
        padding: 2% 5% 1% 5%;
    }

    }
    



.feature-container {
    background-color: #fff;
    padding-top: 2rem;
}


.feature-title {
    font-family: 'IM Fell English SC', serif;
    margin: 6% 0;
    text-decoration: none;
}

.feature-title {
    text-decoration: none;
    color: black;
}

.feature-title:hover {
    text-decoration: none;
    color: #6A7EFC;
}



.feature-summary {
    font-family: 'Gotu', sans-serif;
    padding: 0 25%;
}

.spotlight {
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 30px; 
    text-align: center;
}


@media screen and (max-width: 800px) {
    .spotlight {
       margin-left: 10%;
       margin-right: 10%;
   }
   .feature-summary {
    padding: 0 15%;
   }

   }

.monthly-feature-title {
    font-family: 'IM Fell English SC', serif;
    font-size: 2rem;
    margin-top: 10%;
}

.monthly-feature-text {
    font-family: 'Gotu', sans-serif;

}

.click-feature {
    text-decoration: none;
    color: #6A7EFC;
    font-weight: bold;
}

.click-feature:hover {
    text-decoration: none;
    color: black;
}

.home-hr {
    width: 50%;
    border:1px solid #6A7EFC;
    margin: 1% auto 5% auto;
}


#footer {
    padding: 100px 0 50px 0;
    text-align: center;
    background-color: #EEEEEE;
}




/* 
about page  */


.about-section {
    text-align: center;
    background-color: #EEEEEE;
    padding: 5% 20% 5% 20%;
    text-align: center;
    font-family: 'Gotu', serif;
}

@media screen and (max-width: 600px) {
    div.about-section {
        padding: 5% 6% 5% 6%;
    }
}

.about-title {
    font-family: 'IM Fell English SC', serif;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}

.poetry-editors {
    background-color: #F7F7F7;
}


.emphasis {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.editor-name {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    padding-bottom: 5%;
}

.editor-pic {
    border-radius: 50%;
    margin: 5% 5%;
    width: 50%;
}

.editor-bio {
    text-align: center;
    font-family: 'Gotu', sans-serif;
    margin: 8% 8%;
    padding: 0 8% 0 8%;
}

@media screen and (max-width: 600px) {
    div.editor-bio {
        padding: 0 2% 0 2%;
    }
}

.editor-title {
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    padding-top: 50px;
}


.editor-link {
    text-decoration: none;
    color: #6A7EFC;
    font-weight: 500;
    
}

.editor-link:hover {
    text-decoration: none;
    color: #E5E0FF;
    font-weight: 200;

}

.editor-link:visited {
    text-decoration: none;

}



.about-item2 { 
    grid-area: 2 / 1 / 3 / 3;
}

.about-item3 { 
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
}




/* submit page  */

.submit-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    @media screen and (max-width: 900px) {
        div.submit-parent {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div.submit-item1 {
            padding: 10% 5%;
        }
        div.submit-item2 {
            padding: 5% 6%;
            margin: 0 3% 5% 3%;
        }
        div.submit-item3 {
            padding: 5% 6%;
            margin: 0 3% 5% 3%;
        }
    }
    
    .notice {
        font-family: 'IM Fell English SC', serif;
        color:#6A7EFC;
        background-color: white;
        padding: 1%;
        margin-bottom: 1.5rem;
    }

    .submit-item1 { 
        grid-area: 1 / 1 / 2 / 3; 
        text-align: center;
        font-family: 'Gotu', sans-serif;
        margin: 0 0 30px 0;
        padding: 20px 20% 20px 20%;
        background-color: #EEEEEE;
    }


    .submit-heading {
        font-family:  'IM Fell English SC', serif;
        margin-bottom: 20px;
    }

    .sub-heading {
        font-family: 'Architects Daughter', cursive;
        font-size: 1.3rem;
    }

    .highlight {
        background-color: #b5bffe;
    }

    .online-form {
        font-weight: bold;
        color:#6A7EFC;
    }

    .social-links {
        color: #6A7EFC;
    }
    .genre-heading {
        font-family:  'IM Fell English SC', serif;
        text-decoration: underline;
    }

    .submit-item2 { 
        grid-area: 2 / 1 / 6 / 2; 
        font-family: 'Gotu', sans-serif;
        padding: 5% 6%;
        margin: 0 3% 5% 20%;
        /* border: solid 1.5px #EEEEEE; */
    }

    .submit-item3 { 
        grid-area: 2 / 2 / 6 / 3; 
        font-family: 'Gotu', sans-serif;
        padding: 5% 6%;
        margin: 0 20% 5% 3%;
        border: solid 1.5px #EEEEEE;
        background-color: #f9f9f9;
    }

    .ul-list {
        list-style-type: none;
    }






    /* Issues page */


    .issues-header {
        text-align: center;
        font-family: 'IM Fell English SC', serif;
        padding: 20px 0 10px 0;
        margin: 0;
    }

    .header-box {
        background-color: #EEEEEE;
    }

    .issue-number {
        font-family: 'IM Fell English SC', serif;
        font-size: 4.5vw;
        margin: 15% 0 10% 0;
    }

    .issues-cover {
        width: 70%;
    }

    .grey-issue {
        background-color: #F7F7F7;
    }

    .issue-box {
        padding: 5% 15%;
    }

    @media screen and (max-width: 600px) {
        div.issue-box {
            padding: 10% 0 10% 0;
            text-align: center;
        }
        .issue-number {
            font-size: 6vw;
            margin: 2rem 0;
        }
        
    }
  
    /* Salaam Dear Leila page */

    .sdl-about {
        padding: 7% 20%;
        background-color: #F7F7F7;
        text-align: center;
    }

    @media screen and (max-width: 900px) {
        div.sdl-about {
            padding: 5% 10%;
        }
    }

    .leila-covers {
        text-align: center;
        background-color: #EEEEEE;
        padding: 7% 0;
    }

    .leila-books {
        width: 10%;
        margin: 0.4%;
    }

    .leila-name {
        font-family: 'Architects Daughter', cursive;
    }

    .sdl-heading {
        font-family: 'IM Fell English SC', serif;
    }

    .sdl-subheading {
        font-family: 'IM Fell English SC', serif;
        margin-bottom: 3%;
    }

    .sdl-tag {
        font-family: 'Architects Daughter', cursive;
        padding: 5px 0 20px 0;
    }

    .sdl-para {
        font-family: 'Gotu', sans-serif;
    }

    .sdl-btn {
        margin: 8% 0;
        padding: 2%;
        width:fit-content;
    }

    .sdl-white {
        background-color: white;

    }

    .sdl-div {
        background-color: white;
        padding: 5% 25%;
    }
    .sdl-question {
        font-style: italic;
        font-family: 'Gotu', sans-serif;
    }

    .sdl-answer {
        padding: 5% 15%;
        background-color:#F7F7F7;
    }

    @media screen and (max-width: 900px) {
        div.sdl-div {
            padding: 5% 13%;
        }
        div.sdl-answer {
            padding: 5% 7%;
        }
    }



/* monthly features  */


.feature-top {
    text-align: center;
    padding: 1% 0;
    background-color: #EEEEEE;
}

.feature-category {
    font-family: 'IM Fell English SC', serif;
}

.feature-para {
    font-family: 'Gotu', sans-serif;
}

.feature-title-section {
    text-align: center;
    padding: 5% 20% 0 20%;
}

.feature-hr {
    width: 50%;
    border:1px solid #6A7EFC;
    margin: 5% auto 5% auto;
}

.title-heading {
    font-family: 'IM Fell English SC', serif;
}

.author-heading {
    font-family: 'Architects Daughter', cursive;
    padding-top: 2%;
}

.feature-piece {
    font-family: 'Gotu', sans-serif;
    padding: 0 16%;
    text-align: justify;
    font-size: 1.1rem;
}

.feature-italic {
    font-style: italic;
}

.feature-separator {
    text-align: center;
}

.author-bio {
    margin: 5% 30%;
    padding: 3%;
    text-align: center;
    font-family: 'Gotu', sans-serif;
    background-color: #F7F7F7;
    box-shadow: 0 5px 8px 0 #EEEEEE, 0 2px 10px 0 #EEEEEE;
    border-radius: 2%;
}

.author {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.3rem;
}

.artwork-image {
    width: 60%;
}

.artwork-div {
    text-align: center;
}

.artwork-desc {
    margin-top: 5%;
}

@media screen and (max-width: 900px) {
    .feature-top {
        padding: 4%;
        margin-bottom: 3%;
    }
    .author-bio {
        margin: 8%;
    }
    .feature-title-section {
        padding: 5% 8%;
    }
    .artwork-image {
        width: 85%;
    }
    .feature-piece {
        padding: 0 8%;
    }
}